body {
    padding-top: 50px;
}

#articles-nav {
    border-right: 1px solid #ddd;

    height: 100vh;
}

.article-thumbnail {
    margin-top: 15px;

    box-shadow: 0 0 10px #ddd;

    cursor: pointer;

    -webkit-transition: box-shadow 200ms;
    transition: box-shadow 200ms;
}

.article-thumbnail:hover {
    box-shadow: 0 0 10px #0f0f0f;
}